body {
    background-color: rgb(190, 172, 172)(204, 179, 179);
}

.navbar {
    background-color: rgb(255, 254, 211);
    color: grey;
    padding: 10px;
    margin: -10px;
}

li {
    list-style-type: none;
    background-color: rgb(246, 250, 215);
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    border-radius: 5%;
}

.nav-right {
display: inline;    
    
}

.nav-left {
display: inline;
margin-right: 0px;
margin-left: 750px;
}